rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /tasks/rew-eff/{version}/{userID} {
      allow read, update, delete: if request.auth.uid == userID;
      allow create: if request.auth.uid != null;
    }
    
    match /tasks/rew-eff/{version}/{userID}/{document=**} {
      allow read, update, delete: if request.auth.uid == userID;
      allow create: if request.auth.uid != null;
    }
    
    match /tasks/causal-attr/{version}/{userID} {
      allow read, update, delete: if request.auth.uid == userID;
      allow create: if request.auth.uid != null;
    }
    
    match /tasks/causal-attr/{version}/{userID}/{document=**} {
      allow read, update, delete: if request.auth.uid == userID;
      allow create: if request.auth.uid != null;
    }
    
  }
}
