/*
 * Misc CSS styling for consent form and jsPsych questionnaires.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Container holding consent form */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {width: 100%;}
  .col-3 {
    width: 25%;
    float: left;
    padding: 15px;
    border: none;
  }
  .col-6 {
    width: 50%;
    float: left;
    padding: 15px;
    border: none;
    background-color: aliceblue;
  }

  input[type=submit] {
    font-size: 18px; 
    font-weight: 500;
    padding: 5px 15px; 
    background: powderblue; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    border: 3px solid; 
    border-color: darkgray; 
    cursor: pointer;
  }

  input[type=checkbox] {
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
    -o-transform: scale(1.4); /* Opera */
    transform: scale(1.4);
    padding: 10px;
  }
  
#consent-container {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
#consent-container h2 {
  text-align: center;
  line-height: 1.6em;
}

/* Container holding jsPsych content */
 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   background-color: aliceblue;
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;
 }

 .jspsych-content {
   max-width: 65%; /* this is mainly an IE 10-11 fix */
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }

 .instr-box {
  float: left;
  inline-size: 600px;
  overflow-wrap: break-word;
 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: top;
 }

/* fonts and type */
.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */
.jspsych-display-element input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

#jspsych-html-button-response-stimulus {
  line-height: 1.4;
  padding: 10px;
}

.jspsych-html-button-response-btngroup {
  display: inline-block;
  vertical-align: middle;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* custom style for input[type="range] (slider) to improve alignment between positions and labels */
.jspsych-slider {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background: transparent;
}

.jspsych-slider:focus {
  outline: none;
}

/* track */
.jspsych-slider::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.jspsych-slider::-moz-range-track {
  appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.jspsych-slider::-ms-track {
  appearance: none;
  width: 99%;
  height: 14px;
  cursor: pointer;
  background: #eee;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 2px;
  border: 1px solid #aaa;
}

/* thumb */
.jspsych-slider::-webkit-slider-thumb {
  border: 1px solid #666;
  height: 24px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

.jspsych-slider::-moz-range-thumb {
  border: 1px solid #666;
  height: 24px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

.jspsych-slider::-ms-thumb {
  border: 1px solid #666;
  height: 20px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -2px;
}

#stimulus {
  font-size: 30px;
}

/*css thought bubble based on code by grant (https://codepen.io/quadbaup/pen/rKOKQv)*/
.thought {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  display:flex;
  background-color:#fff;
  padding:30px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size: 20px;
  box-shadow: 20px 20px #83af9b;
}
.thought::after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position: absolute;
  z-index: -1;
}
.thought::after {
  content:"";
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
}
.thought:hover {
  background-color: lightskyblue;
  border-color: #aaa;
  cursor: pointer;
}
.thought:responded {
  border-color: #ccc;
}
.thought:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/*misc styling for intervention examples*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color: #ccc;
/*  content: open-quote;*/
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.float-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.float-child {
  float:left;
  text-align: center;
  margin-right: 10px;
} 

/* jsPsych progress bar */
#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}